@model SixB.Hyb.ValetTest.Core.Models.ViewModels.CreateBookingViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Booking.BookingDate" class="control-label"></label>
                <input asp-for="Booking.BookingDate" class="form-control" value="@(DateTime.Now)" />
                <span asp-validation-for="Booking.BookingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.Name" class="control-label"></label>
                <input asp-for="Booking.Name" class="form-control" />
                <span asp-validation-for="Booking.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.ContactNumber" class="control-label"></label>
                <input asp-for="Booking.ContactNumber" class="form-control" />
                <span asp-validation-for="Booking.ContactNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.EmailAddress" class="control-label"></label>
                <input asp-for="Booking.EmailAddress" class="form-control" />
                <span asp-validation-for="Booking.EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.FlexibilityDayId" class="control-label"></label>
                @Html.DropDownListFor(model => model.Booking.FlexibilityDayId, new SelectList(Model.FlexibilityDayOptions, "Id", "Name"), "Select a flexibility option", new { @class = "form-control" })
                <span asp-validation-for="Booking.FlexibilityDayId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.VehicleSizeId" class="control-label"></label>
                @Html.DropDownListFor(model => model.Booking.VehicleSizeId, new SelectList(Model.VehicleSizes, "Id", "Name"), "Select the size of your vehicle", new { @class = "form-control" })
                <span asp-validation-for="Booking.VehicleSizeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.IsApproved" class="control-label"></label>
                <input asp-for="Booking.IsApproved" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
