@model SixB.Hyb.ValetTest.Core.Models.ViewModels.EditBookingViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Booking.Id" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Booking.IsApproved" /> @Html.DisplayNameFor(model => model.Booking.IsApproved)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Booking.Name" class="control-label"></label>
                <input asp-for="Booking.Name" class="form-control" />
                <span asp-validation-for="Booking.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.ContactNumber" class="control-label"></label>
                <input asp-for="Booking.ContactNumber" class="form-control" />
                <span asp-validation-for="Booking.ContactNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.EmailAddress" class="control-label"></label>
                <input asp-for="Booking.EmailAddress" class="form-control" />
                <span asp-validation-for="Booking.EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.BookingDate" class="control-label"></label>
                <input asp-for="Booking.BookingDate" class="form-control" />
                <span asp-validation-for="Booking.BookingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.FlexibilityDayId" class="control-label"></label>
                @Html.DropDownListFor(model => model.Booking.FlexibilityDayId, new SelectList(Model.FlexibilityDayOptions, "Id", "Name"), "Select a flexibility option", new { @class = "form-control" })
                <span asp-validation-for="Booking.FlexibilityDayId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.VehicleSizeId" class="control-label"></label>
                @Html.DropDownListFor(model => model.Booking.VehicleSizeId, new SelectList(Model.VehicleSizes, "Id", "Name"), "Select the size of your vehicle", new { @class = "form-control" })
                <span asp-validation-for="Booking.VehicleSizeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
